@model MatchTableViewModel
@{
    var currentUser = (Player)HttpContext.Current.Session["User"];
}   
@if (currentUser != null)
{
    <input type="hidden" value="@currentUser.Id" name="current-user-id" id="current-user-id"/>
}
    
<table id="legendary-matches">
    <thead>
        <tr>
            <th class="team-a team-names">@Model.Settings.TeamALabel</th>
            <th class="team-b team-names">@Model.Settings.TeamBLabel</th>
            <th class="score">Result</th>
            <th class="played">Played</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                @* TeamA Teams names *@
                <td class="team-a team-names @if (match.TeamAScore > match.TeamBScore) { <text>winner</text> }">
                    <span class="names">
                        @foreach (var player in match.TeamA.TeamPlayers)
                        {
                            <a class="@player.Id" href="@Url.Action("Player","Stats", new {playerId = player.Id })">@player.Name</a>
                        }
                    </span>
                </td>
                
                @* TeamB Teams names *@
                <td class="team-b team-names @if (match.TeamBScore > match.TeamAScore) { <text>winner</text> }">
                    <span class="names">
                        @foreach (var player in match.TeamB.TeamPlayers)
                        {
                            <a class="@player.Id" href="@Url.Action("Player","Stats", new {playerId = player.Id })">@player.Name</a>
                        }
                    </span>
                </td>
                
                <td class="score">
                    <span class="team-a @if (match.TeamAScore > match.TeamBScore) { <text>winner</text> }">
                        @match.TeamAScore
                    </span>
                    -
                    <span class="team-b @if (match.TeamBScore > match.TeamAScore) { <text>winner</text> }">
                        @match.TeamBScore
                    </span>
                </td>
                <td class="played" title="@match.GameOverTime.ToLocalTime().ToString("d MMM yy, HH:mm", CultureInfo.CreateSpecificCulture("en-gb"))">
                    <span class="short-time">@match.GameOverTime.ToLocalTime().ToString("dd MMM", CultureInfo.CreateSpecificCulture("en-gb"))</span>
                    <span class="long-time" title="@match.GameOverTime.ToLocalTime().ToString("d MMM yy, HH:mm:ss", CultureInfo.CreateSpecificCulture("en-gb"))">
                        @match.GameOverTime.ToLocalTime().ToString("d MMM yy, HH:mm", CultureInfo.CreateSpecificCulture("en-gb"))
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>