@model MatchTableViewModel
@{
    var currentUser = (Player)HttpContext.Current.Session["User"];
}   
<table id="pending-matches">
    <thead>
        <tr>
            <th class="delete">
                <div><img src="@Url.Content("Content/images/delete_15x15_grayscale.png")" alt="A delete button"/></div>
            </th>
            <th class="team-a team-names">Players</th>
            <th class="team-b team-names">Players</th>
            <th class="resolve">
                <div><img src="@Url.Content("Content/images/checkmark_15x15_grayscale.png")" alt="A delete button"/></div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                <td class="delete">
                    @if ((currentUser != null && match.ContainsPlayer(currentUser.Id)) || (Session["Admin"] != null && Session["Admin"].ToString().ToLower() == "true"))
                    {
                        <a title="Delete the match" href="/Matches/Delete/@match.Id">
                            <div><img src="@Url.Content("Content/images/delete_15x15.png")" alt="A delete button"/></div>
                        </a>
                    }
                </td>

                @* TeamA Teams names and Nicknames *@
                <td class="team-a team-names @if (match.TeamAScore > match.TeamBScore) { <text>winner</text> }">
                    <span class="names">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.TeamAPlayer1.Id })">@match.TeamAPlayer1.Name</a> <sup>@match.TeamAPlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountTeamAPlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.TeamAPlayer2.Id })">@match.TeamAPlayer2.Name</a> <sup>@match.TeamAPlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                    <span class="nicknames">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.TeamAPlayer1.Id })">@match.TeamAPlayer1.NickName</a> <sup>@match.TeamAPlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountTeamAPlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.TeamAPlayer2.Id })">@match.TeamAPlayer2.NickName</a> <sup>@match.TeamAPlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                </td>
                
                @* TeamB Teams names and Nicknames *@
                <td class="team-b team-names">
                    <span class="names">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.TeamBPlayer1.Id })">@match.TeamBPlayer1.Name</a> <sup>@match.TeamBPlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountTeamBPlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.TeamBPlayer2.Id })">@match.TeamBPlayer2.Name</a> <sup>@match.TeamBPlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                    <span class="nicknames">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.TeamBPlayer1.Id })">@match.TeamBPlayer1.NickName</a> <sup>@match.TeamBPlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountTeamBPlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.TeamBPlayer2.Id })">@match.TeamBPlayer2.NickName</a> <sup>@match.TeamBPlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                </td>

                <td class="resolve">
                    @if (currentUser != null && match.ContainsPlayer(currentUser.Id))
                    {
                        <a title="Resolve the match" href="Matches/SaveMatchResult/@match.Id">
                            <div><img src="@Url.Content("Content/images/checkmark_15x15.png")" alt="A delete button"/></div>
                        </a>
                    }
                </td>
            </tr>
       }
    </tbody>
</table>