@model MatchesViewModel
@using (Html.BeginForm("RegisterMatch", "Matches", FormMethod.Post))
{   
    <input type="button" class="button" id="open-submit-match-form" value="Create a Match" />
    @Html.HiddenFor(x => x.Settings.MinTeamNumberOfTeamMembers)
        
    <fieldset id="submit-match-form" class="closed">
        <legend>Match Result</legend>
        
        <div id="team-a-players" class="team">
            <div class="team-name">@Model.Settings.TeamALabel</div>

            @for (var i = 0; i < Model.Settings.MaxTeamNumberOfTeamMembers; i++)
            {
                <div class="form-input">
                    <select class="select-player" id="team-a-player-@(i)" name="team-a-player-@(i)">
                        <option></option>
                        @foreach (var player in Model.SelectPlayers)
                        {
                            <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                        }
                    </select>

                </div>
                <br />
            }
        </div>

        <div class="vs">VS</div>

        <div id="team-b-players" class="team">
            <div class="team-name">@Model.Settings.TeamBLabel</div>
            @for (var i = 0; i < Model.Settings.MaxTeamNumberOfTeamMembers; i++)
            {
                <div class="form-input">
                    <select class="select-player" id="team-b-player-@(i)" name="team-b-player-@(i)">
                        <option></option>
                        @foreach (var player in Model.SelectPlayers)
                        {
                            <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                        }
                    </select>
                </div>
                <br />
            }
        </div>
        
        <div class="team-scores">
            <div id="team-results">
                <div class="form-input opponent" id="fighting-team-a">
                    @Html.TextBox("team-a-score", "0", new {@class = "team-score", placeholder = "0"}) 
                    <br/>
                    <input id="team-a-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
                </div>
                <div class="form-input opponent" id="fighting-team-b">
                    @Html.TextBox("team-b-score", "0", new {@class = "team-score", placeholder = "0"}) 
                    <br/>
                    <input id="team-b-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
                </div>
            </div>
            <div class="form-button">
                <input type="submit" value="Submit score" class="submit-button button" id="submit-score-button"/>
            </div>
        </div>

        <div class="validation-message small All"></div>

    </fieldset>
}