@model MatchesViewModel
@using (Html.BeginForm("RegisterMatch", "Matches", FormMethod.Post))
{   
    <input type="button" class="button" id="open-submit-match-form" value="Create a Match" />
    <input type="hidden" id="gender-specific-matches" value="@Model.Settings.EnableGenderSpecificMatches.ToString()" />
    
    <fieldset id="submit-match-form" class="closed">
        <legend>Match Result</legend>
        
        <div id="team-a-players" class="team">
            <div class="team-name">Team A</div>
            <div class="form-input">
                <select class="select-player" id="team-a-player-1" name="team-a-player-1">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-input">
                <select class="select-player" id="team-a-player-2" name="team-a-player-2">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="vs">VS</div>

        <div id="team-b-players" class="team">
            <div class="team-name">Team B</div>
            <div class="form-input">
                <select class="select-player" id="team-b-player-1" name="team-b-player-1">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-input">
                <select class="select-player" id="team-b-player-2" name="team-b-player-2">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="team-scores">
            <div id="team-results">
                <div class="form-input opponent" id="fighting-team-a">
                    @Html.TextBox("team-a-score", "0", new {@class = "team-score", placeholder = "0"}) 
                    <br/>
                    <input id="team-a-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
                </div>
                <div class="form-input opponent" id="fighting-team-b">
                    @Html.TextBox("team-b-score", "0", new {@class = "team-score", placeholder = "0"}) 
                    <br/>
                    <input id="team-b-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
                </div>
            </div>
            <div class="form-button">
                <input type="submit" value="Submit score" class="submit-button button" id="submit-score-button"/>
            </div>
        </div>

        <div class="validation-message small All"></div>

    </fieldset>
}